body {
  background-color: white
;
margin: 0;
}
header {
  background-color: white;
   padding: 1em;
    overflow: auto;
}
h1,h2 {
    margin: 0;
     text-align: center;
     font-family: 'Poiret One', cursive;

}
h1 {
font-size: 4em;
  width: : 400px;
}
nav {
   text-align: center;

margin: 0;

}

nav ul {
  display: inline-block;

  margin: 0;
  padding: 0;
  list-style: none ;
overflow: auto;
}
nav li {

float: left;

 }
nav a {
  color: black;
text-decoration: none;
padding: 0.5em;
display: block;
}
nav a:hover {
  background-color: purple;
   color: white;
 }
main {
  background-image: url("http://storage.googleapis.com/zagat-article-ss/flour-water-pasta-pressimage_(1).jpg" );
  background-size: cover;
  background-position: center;

  * padding: 1em; *

}
img {
  max-width: 100%;
  max-height: 100%;
}

p {
  text-indent: 1em;
}
p.cap {
  line-height: 1.4em;
  text-indent: 0;
}
p.cap:first-letter {
 font-size: 2.8 em;
 float: left;
 margin-top: 0.25em;
}
.calendar {
  margin: 0 auto;
    max-width: 100%;
}
.instagram-media {
  float: left;

}
.HoverCard {
  display: none;
}
.container {
  width: 60%;
  margin: 0 auto;
  border: 5px solid black;
  background-color: rgba(255,255,255,0.6);
  padding: 1em;
}
.about-header {
  background-image:url("https://ecdn.evensi.com/e305881068?cph=gAAAAABc7IzZKR94OlD-aHZgEIC016SMs0VwuuKkZUbaMOyb7LOE76olSHEbzJ16AZmFlQHUr_GpK1eZKbu0BerjYo-HvP0CXJ533pinkuQVNS3pOVfJwt_XAeek_PFRtLqtp3j5yLHz5dpriCuz5igu6Cr6YtpIDYM8u07yCOBe0ASb_HP3oF7iCPCVk7bnsiNz1M3i6CdZj2gDMm-OaGjgb49PM-pji_mtFulZXHWls7iBHxGkpMRdmibhhUfJEsr9L82FrdEESRFRDZGywmjY1_P86w1KactXKDyhXd0BWUxo-rxqwEbdq2JBrqo7QU2RxHjAxxm4EvIgvUsAXip8lLIPPoGuzA==");
  background-size: cover;
  background-position: center;
}
.nobg {
  background: none;
  padding: 2em;
}
.youtube {
  float: left;
  margin-right: 2em;
}
